img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: orange;
}
.container {
  background-color: white;
  max-width: 700px;
  margin: 0 auto 0 auto;
  overflow: auto;
  padding: 10px
}
@media(min-width: 650px) {
.left-column {
  float: left;
  width: 66%;
}
.right-column {
  float: right;
  width: 33%;
}
}
a {
  color: green;
}
h3 {
  font-weight: normal;
  border-bottom: 2px;
  font-family: georgia;
}
h2 {
  margin-top: 0;
  font-size: 24px;
  font-style: italic;
  font-family: georgia;
}
h1 {
  font-family: georgia;
}
p.source {
  border-bottom: 5px solid #E8E8E8;
  margin-bottom: 35px;
  padding-bottom: 20px;
}
.reveal-recipes{
  padding: 10px;
  background-color: #E8E8E8;
}
